CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=y
# 内存较大，可以上稍微进阶的组合
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-unblockneteasemusic=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-filetransfer=y
# 可选: 雅典娜性能和内存都不错，开启 Dockerman 玩容器
CONFIG_PACKAGE_luci-app-dockerman=y
# 多文件系统支持 (考虑到可能插外置存储)
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fs-ext4=y

# 硬件加速 (Turbo ACC & 流量分载)
CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOAD=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_FULLCONENAT=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_BBR_CCA=y
CONFIG_PACKAGE_UnblockNeteaseMusic=y
CONFIG_PACKAGE_node=y
CONFIG_PACKAGE_lucky=y
